**/target/
*.class
*.jar
*.war
*.ear
*.logs
*.iml
.idea/
.eclipse
**/.vscode/
**/__pycache__/
api/py/ai/zipline/api/
api/py/.coverage
api/py/htmlcov/
**/derby.log

# Python distribution and packaging
api/py/dist/
api/py/eggs/
api/py/sdist/
api/py/build/
api/py/*.egg-info/
*.egg

# spark test scratch area
**/spark-warehouse/
**/metastore_db/

# airbnb specific stuff
mvn_settings.xml
